body {
    margin: 0;
    padding: 0;
}

p {
    display: flex;
    align-self: center;

    padding-left: 2rem;
}

svg {
    display: flex;
    align-self: center;
}

.upper-icon, .trending-image {
    height: 48px;
    width: 48px;
}

.lower-icon {
    height: 64px;
    width: 64px;
}

.layout {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar {
    border: 2px solid black;
}

.main {
    border: 2px solid red;
}

.sidebar {
    display: grid;
    grid-template-rows: 1fr 2fr 2fr;
    grid-gap: 3rem;

    padding-left: 3rem;
    padding-right: 3rem;

    max-height: 100vh;
}

.dashboard, .home, .profile,
.messages, .history, .tasks,
.communities, .settings, .privacy,
.support {
    display: flex;
    flex: 1;

}

.dashboard {
    font-size: 24px;
}

