body {
    margin: 0;
    padding: 0;
}

p {
    display: flex;
    align-self: center;

    padding-left: 2rem;
}

svg {
    display: flex;
    align-self: center;
}

.upper-icon, .trending-image {
    height: 48px;
    width: 48px;
}

.lower-icon {
    height: 64px;
    width: 64px;
}

.layout {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar {
    border: 2px solid black;
}

.main {
    border: 2px solid red;
}

.sidebar {
    display: grid;
    grid-template-rows: repeat(5, 1fr);

    padding: 6rem 3rem 3rem;
}

.dashboard, .home, .profile,
.messages, .history, .tasks,
.communities, .settings, .privacy,
.support {
    display: flex;
    flex: 1;
}

.dashboard {
    position: absolute;
    top: 1rem;
}

